body {
    overflow-x: hidden;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007073;
    color: #ffffff;
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

.logo {
    max-width: 70px;
    max-height: 70px; 
    width: auto; 
    height: auto; 
    margin-left: 20px;
}

.nav-links a:hover {
    text-decoration: none;
    transform: translate(0, -2px);
    color: #FFFFFF; 
}

#navigationBar{
    background-color: #007073;
}

.nav-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 5px;
    margin-right: 20px;

}

.nav-links a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    transition: transform .3s ease-out;
    display: inline-block;
}


@media screen and (max-width: 450px) {
    #navTitle {
        font-size: 20px; 
    }
    
    .nav-links {
        margin-top: 10px; 
    }
}
/*Home*/
.jumbotron {
    align-items: center;
    text-align: center;
    background-size: cover;
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width of the viewport */
    overflow: hidden;
    color: rgb(247, 247, 247);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('images/biltmore.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.top-section{
    background-color: #007073 !important;
    margin-bottom: 0px !important;
}
.jumbotron h1 {
    margin-top: 20px;
    padding-top: 100px;
    font-size: 3em;
}

.jumbotron p {
    font-size: 1.2em;
    margin-bottom: 30px;
}


.buttons a button{
    background-color: white;
    color: #5865F2;
}

/*AR SECTIONS*/
.ar-env{
    background-color: #007073;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.ar-env a:hover{
    text-decoration: none;
}
.ar-env h1{
    padding-top: 20px;
    padding-bottom: 20px;
}

.ar-env .card-footer{
    margin-top: auto;
}

.ar-env h4{
    color: #d35400;
}

.ar-env .card-img-top{
    padding: 10px;
    width: 85%;
    height: auto;
    object-fit: contain;
    max-height: 150px;
}

.card .arrow {
    font-size: 2em;
    align-content: center;
    color: #007073;
    align-self: flex-end; /* This aligns the arrow to the bottom right corner */
}

.card:hover{
    box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.7);
    transition: height 0.5s, box-shadow 0.5s;
}

.title-2{
    display:none;
}
.title-1{
    display:inline;
}
.title-3{
    display: none;
}

@media (max-width: 1150px){
    .title-2{
        display: inline;
    }
    .title-1{
        display: none;
    }
} 

.card-title {
    white-space: nowrap;
}

@media (max-width: 798px){
    .title-2{
        display: none;
    }
    .title-3{
        display: inline;
    }
}

/*About Us*/
.about img{
    width: 100vh;
    height: auto;
    margin: 20px;
    padding-right: 50px;
}
.about button:hover{
    transform: translate(0, -2px);
}

.about button{
    transition: transform .3s ease-out;
}

.about{
    padding: 20px;
    background-color: #FFF2EB;
    color: #d35400;
    overflow: hidden;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about p{
    color: #007073;
}

.about h1{
    font-size: 3em;
    padding-top: 100px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.learn-butt {
    background-color: #007073;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

/*Contact Section*/
.contactBack {
    background-color: #ecf0f0;
}

.contact-section{
    margin-bottom:20px;
}

.contact-name {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.contact-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: #000; /* Black line */
    border-radius: 2px;
}


.email-link{
    color: #363232;
    text-decoration: underline;
}


.email-link:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

